.sidebar img {
    margin: 5px;
    padding: 1px;
}

.sidebar img:hover {
    // border-color: black;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.cost1{
    border: 3px solid gray;
}

.cost2{
    border: 3px solid green;
}

.cost3{
    border: 3px solid blue;
}

.cost4{
    border: 3px solid magenta;
}

.cost5{
    border: 3px solid goldenrod;
}

.search {
    width: 340px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}