@import "./styles/example.scss";
@import "./styles/sidebar.scss";
@import "./styles/icon.scss";

body {
    background-color: thistle
}

.container {
    display: flex;
    
}

#tab_bar{
    color: rgb(205, 176, 11);
    // color: 
}

#sidebar{
    position: sticky;
    border: 3px solid $color

}

#info {
    border: 3px solid $color

}
