@import "./styles/example.scss";
@import "./styles/scrollbar.scss";
@import "./styles/icon.scss";

body {
    background-color: thistle
}

.container {
    display: flex;
    justify-content: center;
    padding-right: 15%;

}

#monsters {
    text-align: center;
    background-color: rgb(218, 32, 97);
}

#monsters h2{
    font-size: x-large;
    font-weight: bolder;
    color: goldenrod;
    padding-right: 15%;
    
}

#tab_bar{
    color: rgb(205, 176, 11);
    background-color: cornflowerblue;
}

.champs{
    border: 1px solid $color;
    width: 360px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.info {
    margin-left: 30px;
    max-width: 450px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    font: menu;
}

.info img{
    margin: 10px;
}

.ability {
    height: 250px;
    padding: 10px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: small;
    padding-left: 10px;
}

.stats-container{
    display: flex;
    justify-content: space-evenly;
}

#ability {
    font-weight: bolder;
    font-size: medium;
}

#name{
    font-size: xx-large;
}

#chart {
    max-width: 800px;
    visibility: hidden;
}

#info-chart{
    margin: 5px;
}

.drop{
    height: 30px;
    border: 1px solid purple;
    background-color: hotpink;
}

.drop:hover{
    cursor: pointer
}

.stats-chart {
    padding-left: 15%;
}

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 2px;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 30px;
    text-align: center;
    font: menu;
    background-color: plum;
    border: 2px solid blue;
}

.sidebar p{
    padding-left: 15%;
    padding-right: 15%;
    font-size: small;
}

.sidebar label{
    background-color: rgba(173, 51, 173, 0.658);
    font-weight: 1000;
    font-size: large;
}

.sidebar h2 {
    font-size: x-large;
    border: 1px solid purple;
    background-color: rgb(218, 32, 97);
}
.sidebar div>div{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: cornflowerblue;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    transform:scale(0.9);
    height: 120%;
    border: 1px solid purple
}
.sidebar #header {
    padding-bottom: 5%;
    color: cornflowerblue;
    font-size: larger;
}

.sidebar img {
    cursor: pointer;
}

#searchTrait{
    bottom: 10%;
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid purple
}