@import "./styles/example.scss";
@import "./styles/sidebar.scss";
@import "./styles/icon.scss";

body {
    background-color: thistle
}

.container {
    display: flex;

}

#tab_bar{
    color: rgb(205, 176, 11);
}

.sidebar{
    border: 3px solid $color;
    width: 360px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.info {
    margin-right: 30px;
    border: 3px solid $color;
    width: 500px;
    max-width: 500px;
    font: menu;
}

.info img{
    margin: 10px;
}

.ability {
    height: 200px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: small;
}

.stats-container{
    display: flex;
    justify-content: space-evenly;
}

#ability {
    font-weight: bolder;
    font-size: medium;
}

#name{
    font-size: xx-large;
}


